# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# SQL Learning
.sql_study/

# SQL Database
obsidian_notes.db

# Chroma DB
chroma_db/
*.sqlite3
*.db

# Inspo
.inspo/

# Temporary test file
test.py
test_chunk_embeddings.py
test_embedding.py

# OS junk
.DS_Store
Thumbs.db